.blackDrop {
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  color: white;
  background-color: rgba(218, 2, 2, 0.185);
}
.err-popup {
  width: 50vw;
  height: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: left;
  z-index: 100;
  top: 200px;
  left: 25%;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.524);
}
.err-popup header {
  padding: 10px;
  color: white;

  text-transform: uppercase;
  background-color: #0d0d0d;
}
.err-popup button {
  border: none;
  text-align: right;
  border-radius: 5px;
  color: white;
  background-color: #0b0b0a;
  padding: 10px 24px;
}
.err-popup p{
    font-size: 1.2rem;
}