.user-list{
 list-style: none;
 text-align: left;
 background-color: white;
 padding: 20px;
    width: 40%;
   border-radius: 5px;
    box-shadow: 0px 0px 3px;
}
.user-item{
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin-block:10px;
    border: 1px solid black;
}